{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Registration Form</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
</head>
<link rel="stylesheet" href="{% static 'styles/sign_up_css' %}">
<body>
    <div class="box rounded">
        <div class="h3">Sign Up</div>
        <form action="{% url 'signup_submit' %}" method="POST" class="form">
            {% csrf_token %}
            <div class="row">
                <div class="col-6">
                    <label for="name">First Name :</label>
                </div>
                <div class="col-6">
                    <input type="text" class="form-control" placeholder="First Name" name="first_name">
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <label for="name">Last Name :</label>
                </div>
                <div class="col-6">
                    <input type="text" class="form-control" placeholder="Last Name" name="last_name">
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <label for="name">Username :</label>
                </div>
                <div class="col-6">
                    <input type="text" class="form-control" placeholder="Username" name="user_name">
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <label for="no1">Contact No : </label>
                </div>
                <div class="col-6">
                    <input type="text" class="form-control"name="contact_no" placeholder="Contact No">
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <label for="em">Email : </label>
                </div>
                <div class="col-6">
                    <input type="email" class="form-control"name="email" placeholder="Email ID">
                </div>
            </div>  
            <div class="row">
                <div class="col-6">
                    <label for="ps">Create Password : </label>
                </div>
                <div class="col-6">
                    <input type="password" class="form-control" name="password" placeholder="Password">
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <label>Gender :</label>
                </div>
                <div class="col-6">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="mgen" name="gender" value="Male">
                        <label class="form-check-label" for="mgen">Male</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="fgen" name="gender" value="Female">
                        <label class="form-check-label" for="fgen">Female</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <label for="city">City :</label>
                </div>
                <div class="col-6">
                    <select class="form-control" id="city" name="city">
                        <option value="city1">Pune</option>
                        <option value="city2">Mumbai</option>
                        <option value="city3">Nashik</option>
                        <option value="city4">Satara</option>
                    </select>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-12" style="text-align: center;">
                    <button type="submit"id="submitBtn" style="color:white;background-color: #3c0753b3;border: none;padding: 8px; border-radius: 5px;width: 200px;">Create Account</button>
                </div>
            </div>
        </form>
    </div>
</body>
<script>
    document.getElementById('submitBtn').addEventListener('click', async function () {
        const form = document.getElementById('registrationForm');
        const formData = new FormData(form);
        const response = await fetch('/register', {
            method: 'POST',
            body: formData,
        });
        const result = await response.text();
        console.log(result);
    });
</script>
</html>